

.show_image img{
  margin-top: 5em;
  width: 25em;
  margin-right: 0em;
}

.show_description{
  color: rgb(100, 100, 100);
}

.col-sm h1{
  margin-top: 1em;
}

.show_price{
  font-size: 34px;
  font-weight: 600;
  color: rgb(50, 50, 50);
  margin-top: 21px;
}

.showcart{
 font-size:15px;
 border:2px solid #5ff7d2;
 background-color: #fff;
 color:#5ff7d2;
 text-align:center;
 text-transform:uppercase;
 font-weight:700;
 padding:1em;
 margin-top: 1em;
 -webkit-transition: all 200ms ease-out;
       -moz-transition: all 200ms ease-out;
         -o-transition: all 200ms ease-out;
            transition: all 200ms ease-out;
}

.showcart:hover{
 background:#5ff7d2;
 color:#fff;
 cursor:pointer;
}
button:focus {outline:0;}
