<div id="header">
	<ul>
        <li><a href="/" onclick="window.location.href='/';">Home</a></li>
        <li><a href="">CONTACT</a></li>

				<li style="float:right;"><div id="itemCount"></div></li>
				<li style="float:right;"><a href=""><img src="http://icons.iconarchive.com/icons/iconsmind/outline/512/Shopping-Cart-icon.png" class="cart-icon"></a></li>

      <% if user_signed_in? %>
        <li class="login-links" style="float:right;"><%= current_user.email %></li>
        <li class="login-links" style="float:right;"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <li class="login-links" style="float:right;"><%= link_to "Edit Account", edit_user_registration_path%></li>
      <% else %>
        <li class="nav-item active" style="float:right;">
          <a data-toggle="modal" data-target="#signUpModal">Sign Up</a>
        </li>
        <li class="nav-item" style="float:right;">
          <a data-toggle="modal" data-target="#logInModal">Log In</a>
        </li>
      <% end %>

    </ul>
</div>
