<div id="sidebar">

    <h3>CATEGORIES</h3>
    <div class="checklist categories">
    	<ul>
        <% Breed.all.each do |item| %>
        	<li><a href=""><span></span><%= item.name %></a></li>
        <% end %>

    </div>
</div>
